@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root {
  --primary-color: #3b3b98;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
  font-family: "Muli", sans-serif;
  color: white;
  background-color: var(--primary-color);
  overflow: hidden;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  width: min(100%, 360px);
  padding: 20px;
  background-color: #23235b;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}

.result-container {
  display: flex;
  min-height: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  letter-spacing: 1px;
  .result {
    flex: 1;
    line-height: 40px;
    padding: 0 0.5rem;
    word-wrap: break-word;
  }
}

.btn {
  appearance: none;
  padding: 8px 12px;
  font-size: 16px;
  color: white;
  background-color: #3b3b98;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.btn-large {
    width: 100%;
  }
  .result-container & {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 20px;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  :is(label, [type="checkbox"]) {
    cursor: pointer;
  }
  [type="number"] {
    line-height: 20px;
  }
  [type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}
